img {
    height: 5cm;
    width: auto;
    border: 1px solid yellow;
}

#buscadorPjs {
    display: inline;
    width: auto;
    margin-left: 70%;
}

#botonBuscar {
    margin-left: 5px;
}

.container {
    margin-top: 100px;
}